Append,extend,pop,remove

In [1]:
fruit=['orange' , 'mango' , 'apple' , 'banana' , 'papaya' , 'orange']
    #list always in '[]' brackets
thistuple=('brinjal','tomato','orange','orange','orange')
#fruit.append('kiwi')    #append is used to add an item at the end of the list
#fruit.insert(2,'grapes')    #inserting into a list at a random place in the list
fruit.extend(thistuple)
fruit.pop(1)
fruit.remove('banana')
print(thistuple)
#print(type(fruit))
#print(fruit[0:3])   #from 0 to 3rd variable(excluding the 3rd vaiable)
#print(fruit[:4])    #from Starting to 4th variable(excluding the 4th one)
#print(fruit[1:4])   #from 1st to 4th variable(excluding the 4th one)

('brinjal', 'tomato', 'orange', 'orange', 'orange')

Ascending and Desscending

In [2]:
num = [100, 77, 99, 86, 23, 25, 41]
num.sort()
print(num)
num.sort(reverse = True)
print(num)
fruit=['orange' , 'mango' , 'apple' , 'banana' , 'Papaya' , 'orange']
thistuple=('brinjal','tomato','orange','orange')
fruit.extend(thistuple)
print(fruit)
fruit.sort()
print(fruit)
fruit.sort(reverse = True)
print(fruit)

[23, 25, 41, 77, 86, 99, 100]
[100, 99, 86, 77, 41, 25, 23]
['orange', 'mango', 'apple', 'banana', 'Papaya', 'orange', 'brinjal', 'tomato', 'orange', 'orange']
['Papaya', 'apple', 'banana', 'brinjal', 'mango', 'orange', 'orange', 'orange', 'orange', 'tomato']
['tomato', 'orange', 'orange', 'orange', 'orange', 'mango', 'brinjal', 'banana', 'apple', 'Papaya']

List and Tuple

In [3]:
fruit=['brinjal','tomato','orange','orange','orange']
fruit.append('abhi')
print(fruit)
    #list can be edited bus a tuple cant be eited once its reclared

['brinjal', 'tomato', 'orange', 'orange', 'orange', 'abhi']

reverse

In [4]:
fruit=['orange' , 'mango' , 'apple' , 'banana' , 'papaya' , 'orange']    #list always in '[]' brackets
thistuple=['brinjal','tomato','orange','orange','orange']
fruit.extend(thistuple)
print(fruit)
fruit.reverse()
print(fruit)

['orange', 'mango', 'apple', 'banana', 'papaya', 'orange', 'brinjal', 'tomato', 'orange', 'orange', 'orange']
['orange', 'orange', 'orange', 'tomato', 'brinjal', 'orange', 'papaya', 'banana', 'apple', 'mango', 'orange']

clear

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

length in list

In [6]:
fruit=['orange' , 'mango' , 'apple' , 'banana' , 'papaya' , 'orange']
thistuple=['brinjal','tomato','orange','orange','orange']
fruit.extend(thistuple)
print(fruit)
fruit.reverse()
print(fruit)
print(len(fruit))

['orange', 'mango', 'apple', 'banana', 'papaya', 'orange', 'brinjal', 'tomato', 'orange', 'orange', 'orange']
['orange', 'orange', 'orange', 'tomato', 'brinjal', 'orange', 'papaya', 'banana', 'apple', 'mango', 'orange']
11

Del

In [8]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]   #the last item of thelist is deleted
print(thislist)
fruit = ["apple", "banana", "cherry"]
#del fruit
print(fruit) #error will occur since the list here is deleted
#Remove the "#" in the line5 to see the result

['banana', 'cherry']
['apple', 'banana', 'cherry']

# Loop Lists

For Loop

In [9]:
fruit=['orange' , 'mango' , 'apple' , 'banana' , 'papaya' , 'orange']
print(fruit)
for y in fruit:
  print(y)

['orange', 'mango', 'apple', 'banana', 'papaya', 'orange']
orange
mango
apple
banana
papaya
orange

For loop 2

In [10]:
fruit=['orange' , 'mango' , 'apple' , 'banana' , 'papaya' , 'orange']
print(fruit)
for i in range(len(fruit)):
  print(fruit[i])   #Here it prints all the list items in a list

fruit=['orange' , 'mango' , 'apple' , 'banana' , 'papaya' , 'orange']
print(fruit)
for i in range(len(fruit)):
  print(fruit[3])   #here it prints the list item in the entered number

  fruit=['orange' , 'mango' , 'apple' , 'banana' , 'papaya' , 'orange']
print(fruit)
for i in range(len(fruit)):
  print(i)    #it just prints all the length numbers

['orange', 'mango', 'apple', 'banana', 'papaya', 'orange']
orange
mango
apple
banana
papaya
orange
['orange', 'mango', 'apple', 'banana', 'papaya', 'orange']
banana
banana
banana
banana
banana
banana
['orange', 'mango', 'apple', 'banana', 'papaya', 'orange']
0
1
2
3
4
5

In [11]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]
#

apple
banana
cherry

[None, None, None]