##### Read the entire text file

In [9]:
abhinav = open("D:\story.txt")
print(abhinav.read())

A boy named John was upset. His father found him crying.
When his father asked John why he was crying, he said that he had a lot of problems in his life.
His father simply smiled and asked him to get a potato, an egg, and some coffee beans. He placed them in three bowls.
He then asked John to feel their texture and then fill each bowl with water.
John did as he had been told. His father then boiled all three bowls.
Once the bowls had cooled down, Johnâ€™s father asked him to feel the texture of the different food items again.
John noticed that the potato had become soft and its skin was peeling off easily; the egg had become harder;
the coffee beans had completely changed and filled the bowl of water with aroma and flavour.

##### Read the first n lines of a file

In [8]:
abhinav = open(r"D:\story.txt")
print(abhinav.readline())
print(abhinav.readline())
print(abhinav.readline())

A boy named John was upset. His father found him crying.

When his father asked John why he was crying, he said that he had a lot of problems in his life.

His father simply smiled and asked him to get a potato, an egg, and some coffee beans. He placed them in three bowls.

##### Analysing the no of characters, words and lines

In [7]:
abhinav = open(r"D:\story.txt")
lines=0
words=0
characters=0
for x in abhinav:
    lines=lines+1
    W=x.split()
    words=words+len(W)
    characters=characters+len(x)
print(lines,words,characters)

8 140 733

##### To Write a list to a file

In [15]:
abhinav = ["Hi This Is Abhinav"]
for v in abhinav:
    h1=open(r"D:\story.txt","a")
    print(h1.write(v))
    h1.close()

18

##### Reading a csv file and displaying it

In [5]:
import pandas as pd
a = pd.read_csv('C:/Users/Abhinav/Desktop/passport.csv')
print(a.to_string())

        Name  Age Gender  Phone Number       Address                   E-Mail Having Passport? Lisence
0    Abhinav   17      M    1234567890  Akkayyapalem        admodar2@gitam.in              YES      NO
1     Vedesh   18      M    1234567890  Akkayyapalem         vemandi@gitam.in              YES     YES
2    Meghana    5      F    1234567890  Madhavadhara        msomavar@gitam.in               NO     YES
3  Chaitanya   18      M    6549871231    Madhurwada  Chaitanyakumar@gitam.in              YES      NO
4    Roshini   18      F    1234567890           NAD         roshini@gitam.in               NO      NO

##### Printing a particular row/coloumn

In [18]:
import pandas as pd
abhinav = pd.read_csv('passport.csv')
print(abhinav.loc[0].to_string())

Name                          Abhinav
Age                                17
Gender                              M
Phone Number               1234567890
Address                  Akkayyapalem
E-mail              admodar2@gitam.in
Having Passport?                  YES
Lisence                            NO
salary                         230000

##### Displaying Max Rows

In [27]:
import pandas as pd

pd.options.display.max_rows = 9999
df = pd.read_csv('C:/Users/Abhinav/Desktop/Book1.csv')
print(df.to_string())
print(pd.options.display.max_rows)

         Name   Age Gender  Phone Number       Address                   E-Mail Having Passport? Lisence
0     Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in              YES      NO
1      Vedesh  18.0      M  1.234568e+09  Akkayyapalem         vemandi@gitam.in              YES     YES
2     Meghana  18.0      F  1.234568e+09  Madhavadhara        msomavar@gitam.in               NO     YES
3   Chaitanya  18.0      M  6.549871e+09    Madhurwada  Chaitanyakumar@gitam.in              YES      NO
4     Roshini  18.0      F  1.234568e+09           NAD         roshini@gitam.in               NO      NO
5     Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in              YES     YES
6     Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in              YES      NO
7     Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in              YES      NO
8     Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in              YES     YES
9     Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in               NO      NO
10    Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in               NO      NO
11    Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in              YES      NO
12    Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in               NO     YES
13    Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in               NO     YES
14    Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in               NO     YES
15    Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in              YES      NO
16    Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in              YES      NO
17    Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in              YES     YES
18    Abhinav  18.0      M  1.234568e+09  Akkayyapalem        admodar2@gitam.in               NO      NO
19        NaN   NaN    NaN           NaN           NaN                      NaN              NaN     NaN
20        NaN   NaN    NaN           NaN           NaN                      NaN              NaN     NaN
21        NaN   NaN    NaN           NaN           NaN                      NaN              NaN     NaN
22        NaN   NaN    NaN           NaN           NaN                      NaN              NaN     NaN
9999

##### Drop all Duplicate Values

In [3]:
import pandas as pd
df = pd.read_csv('passport.csv')
de = df.drop_duplicates(subset="Name", keep="last")
print(de.to_string())

        Name  Age Gender  Phone Number       Address                   E-mail Having Passport? Lisence  salary
0    Abhinav   17      M    1234567890  Akkayyapalem        admodar2@gitam.in              YES      NO   230000
1     Vedesh   18      M    1234567890  Akkayyapalem         vemandi@gitam.in              YES     YES   250000
2    Meghana    5      F    1234567890  Madhavadhara        msomavar@gitam.in               NO     YES    90000
3  Chaitanya   18      M    6549871231    Madhurwada  Chaitanyakumar@gitam.in              YES      NO   100000
4    Roshini   18      F    1234567890           NAD         roshini@gitam.in               NO      NO    50000

In [18]:
import pandas as pd
abhi = pd.read_csv('C:/Users/Abhinav/Desktop/passport.csv')
print(abhi.to_string())

        Name  Age Gender  Phone Number       Address                   E-Mail Having Passport? Lisence
0    Abhinav   17      M    1234567890  Akkayyapalem        admodar2@gitam.in              YES      NO
1     Vedesh   18      M    1234567890  Akkayyapalem         vemandi@gitam.in              YES     YES
2    Meghana    5      F    1234567890  Madhavadhara        msomavar@gitam.in               NO     YES
3  Chaitanya   18      M    6549871231    Madhurwada  Chaitanyakumar@gitam.in              YES      NO
4    Roshini   18      F    1234567890           NAD         roshini@gitam.in               NO      NO

##### Finding Min Max and Average in Excel Sheet

In [19]:
import pandas as pd
abhi = pd.read_csv('passport.csv')
abhi.aggregate({'Phone Number':['min','max'],'Age':['min','max','sum','average']})

         Phone Number   Age
min      1.234568e+09   5.0
max      6.549871e+09  18.0
sum               NaN  76.0
average           NaN  15.2

##### Groupting similar data using groupby

In [27]:
import pandas as pd

df = pd.read_csv('passport.csv')

gkk = df.groupby(['Salary'])

gkk.first()

,Name,Age,Gender,Phone Number,Address,E-mail,Having Passport?,Lisence
Salary,,,,,,,,
50000,Roshini,18,F,1234567890,NAD,roshini@gitam.in,NO,NO
90000,Meghana,5,F,1234567890,Madhavadhara,msomavar@gitam.in,NO,YES
100000,Chaitanya,18,M,6549871231,Madhurwada,Chaitanyakumar@gitam.in,YES,NO
230000,Abhinav,17,M,1234567890,Akkayyapalem,admodar2@gitam.in,YES,NO
250000,Vedesh,18,M,1234567890,Akkayyapalem,vemandi@gitam.in,YES,YES

##### Read Specific coloumns from an excel file

In [19]:
import pandas as pd
cols=[0,1]
abhinav = pd.read_csv('C:/Users/Abhinav/Desktop/passport.csv',usecols=cols)
print(abhinav)

        Name  Age
0    Abhinav   17
1     Vedesh   18
2    Meghana    5
3  Chaitanya   18
4    Roshini   18

##### Read the numbers from a file and seperate even and odd

In [21]:
abhinav = open(r"D:/module3/number.txt")
evennumbers=open('D:\module3\even.txt','w')
oddnumbers=open('D:\module3\odd.txt','w')
evennumbers.write('Even numbers:\n')
oddnumbers.write('Odd numbers:\n')
for i in abhinav:
  if int(i)%2==0:
    evennumbers=open('D:\module3\even.txt','a')
    evennumbers.write(i)
  else:
    oddnumbers=open('D:\module3\odd.txt','a')
    oddnumbers.write(i)
evennumbers.close()
oddnumbers.close()
evennumbers=open('D:\module3\even.txt','r')
print(evennumbers.read())
evennumbers.close()
oddnumbers=open('D:\module3\odd.txt','r')
print(oddnumbers.read())
oddnumbers.close()

Even numbers:
12
56
988
458
122
210
Odd numbers:
21
65
95
59
789
8561
321
121