#### Accept input from user and store it in variable and print the value.

In [ ]:
a = int(input("enter a value"))
print(a)

enter a value2
2

#### Use of print statements and use of (.format )for printing different data types.

In [ ]:
abhinav = "My name is {0} and I'm {1}"
print(abhinav.format("Abhi",17))

My name is Abhi and I'm 17

#### Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output

In [ ]:
a = 20
b = 30
add = a+b
sub = a-b
mul = a*b
div = a/b
rem = a%b
print(add,"is the addition of the two")
print(sub,"id the substraction of the two")
print(mul,"is the multiplication of the two")
print(div,"is the division of the two")
print(rem,"is the remainder of the two")

50 is the addition of the two
-10 id the substraction of the two
600 is the multiplication of the two
0.6666666666666666 is the division of the two
20 is the remainder of the two

#### Conversion of one unit to another

In [ ]:
hours = int(input("Please enter hours:"))
minutes = hours * 60
print (minutes, " Minutes")
KM = int(input("Enter the dist in KM"))
meter = KM * 1000
print (meter, "Meters")

Please enter hours:12
720  Minutes
Enter the dist in KM300
300000 Meters

#### Accepting 5 different subject marks from user and displaying the grade of the student

In [ ]:
sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
per=((sub1+sub2+sub3+sub4+sub4)/500)*100
if(per>=90):
    print("Grade: A")
elif(per>=80 and per<90):
    print("Grade: B")
elif(per>=70 and per<80):
    print("Grade: C")
elif(per>=60 and per<70):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks of the first subject: 60
Enter marks of the second subject: 90
Enter marks of the third subject: 60
Enter marks of the fourth subject: 80
Enter marks of the fifth subject: 90
Grade: C

#### Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range

In [ ]:
even_count, odd_count = 0, 0
even_list = []
odd_list = []
n = int(input("Enter the lower bound of range: "))
m = int(input("Enter the upper bound of range: "))
# Using for loop
for i in range(n,m+1):
    if i % 2 == 0:
        even_count += 1
        even_list.append(i)
    else:
        odd_count += 1
        odd_list.append(i)
print("Total even numbers in the range {0} to {1} is {2}".format(n, m,even_count), "and numbers are", even_list)
print("Total odd numbers in the range {0} to {1} is {2}".format(n,m,odd_count), "and numbers are", odd_list)

Enter the lower bound of range: 1
Enter the upper bound of range: 100
Total even numbers in the range 1 to 100 is 50 and numbers are [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Total odd numbers in the range 1 to 100 is 50 and numbers are [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

#### Calculator

In [ ]:
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    choice = input("Enter choice(1/2/3/4): ")
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        next_calculation = input("Let's do next calculation? (y/n): ")
        if next_calculation == "n":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 20
Invalid Input
Enter choice(1/2/3/4): 1
Enter first number: 60
Enter second number: 80
60.0 + 80.0 = 140.0
Let's do next calculation? (y/n): n

#### Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc, pow, sqrt etc

In [ ]:
import math
num = -28.23
print(math.ceil(num))
print(math.floor(num))
print(math.fabs(num))
print(math.fmod(num,1))
print(math.trunc(num))
print(math.pow(num,2))
#print(math.sqrt(num))

-28
-29
28.23
-0.23000000000000043
-28
796.9329

#### Check whether the number is palindrome or not

In [ ]:
a=int(input("enter a value"))
rev=0
temp=a
while temp>0:
  rem=temp%10
  rev=(rev*10)+rem
  temp=temp//10
if a==rev:
  print("palindrome")
else:
  print("not a plaindrome")

enter a value1234
not a plaindrome

#### Finding simple and compound intrest

In [ ]:
import math
p=int(input("enter the principal amount"))
r=int(input("enter the intrest amount"))
t=int(input("amount of years"))
for i in range(1,t+1):
  si=(p*i*r)/100
  ci=p*(math.pow(1+r/100,i))
print(i,"yr interst ci is ",ci)
print(i,"yr interst si is ",si)

enter the principal amount2000
enter the intrest amount10
amount of years1
1 yr interst ci is  2200.0
1 yr interst si is  200.0

#### Printing all even numbers, odd numbers

In [ ]:
a=int(input("enter the first number in the range"))
b=int(input("enter the second number in the range"))
for i in range(a,b):
  if i%2==0:
    print("even numbers are",i)
  else:
    print("odd numbers are ",i)

enter the first number in the range20
enter the second number in the range25
even numbers are 20
odd numbers are  21
even numbers are 22
odd numbers are  23
even numbers are 24

#### Strong Number

In [ ]:
a = int(input(" Enter the Number:"))
sum = 0
temp = a
while(temp > 0):
    factorial = 1
    rem = temp % 10
    for i in range(1, rem + 1):
        factorial = factorial * i
    print("Factorial of %d = %d" %(rem, factorial))
    sum = sum + factorial
    temp = temp // 10
print("\n Sum of Factorials of a Given Number %d = %d" %(a, sum))
if (sum == a):
    print(" The given number is a Strong Number")
else:
    print(" The given number is not a Strong Number")

 Enter the Number:203
Factorial of 3 = 6
Factorial of 0 = 1
Factorial of 2 = 2

 Sum of Factorials of a Given Number 203 = 9
 The given number is not a Strong Number

#### Perfect Number

In [ ]:
a = int(input("Enter the number: "))
sum = 0
for i in range( 1 , a ):
    if (a % i == 0):
        sum = sum + i
if(sum == num):
    print("perfect number")
else:
    print("not a perfect number")

Enter the number: 6
perfect number