# String

In [7]:
name = 'Abhinav'
print(name)
print(type(name))
print(name[0])

Abhinav
<class 'str'>
A

In [8]:
print("hello")

hello

In [9]:
a = 'Hello Abhinav'
print(a)
print(type(a))
print(len(a))

Hello Abhinav
<class 'str'>
13

In [10]:
a = 'RRR movie has been released'
print('RRR' in a)

True

In [11]:
a = 'RRR movie has been released'
print(a[0:4])

RRR

In [12]:
a = 'RRR movie has been released'
print(a.upper())
print(a.lower())

RRR MOVIE HAS BEEN RELEASED
rrr movie has been released

#### Remove White spaces

In [13]:
a = '    RRR movie has been released   '
print(a.strip())
print(a)

RRR movie has been released
    RRR movie has been released

#### Replace

In [14]:
a = 'RRR will release in ott this april'
print(a.replace("RRR", "Radhe Shyam"))

Radhe Shyam will release in ott this april

#### Split

In [15]:
a = 'RRR will release in ott this april'
print(a.split())

print(" ")

a = 'RRR will release in ott, this april'
print(a.split(','))

['RRR', 'will', 'release', 'in', 'ott', 'this', 'april']

['RRR will release in ott', ' this april']

#### Concatenation

In [16]:
a = "123"
b = "Vizag"
c = a + ' ' + b
print(c)

a = "Hello"
b = "Vizag"
c = a + " " + b
print(c)

123 Vizag
Hello Vizag

In [17]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod
tempor,
incididunt ut labore e,
dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod
tempor,
incididunt ut labore e,
dolore magna aliqua.

#### Format Strings

In [18]:
quantity = 3
itemno = "puppy"
price = 4999
myorder = "I want {} pieces of item {} for {} dollars each."
print(myorder.format(quantity, itemno, price))
print('the total amount is', quantity*price)

I want 3 pieces of item puppy for 4999 dollars each.
the total amount is 14997

In [19]:
quantity = 3
itemno = "puppy"
price = 4999
myorder = "I want {} pieces of item {} for {} dollars each."
print(myorder.format(quantity, itemno, price))
amount = 'you need to pay a total of {0} for your order'
print(amount.format(quantity*price))

I want 3 pieces of item puppy for 4999 dollars each.
you need to pay a total of 14997 for your order

In [20]:
age = input('Enter Your Age')
txt = "My name is Abhinav, and I am {} years old"
print(txt.format(age))

My name is Abhinav, and I am  years old

In [22]:
a = int(input('Enter Maths Marks'))
b = int(input('Enter CSE Marks'))
c = int(input('Enter Chemistry Marks'))
d = int(input('Enter BEEE Marks'))

print(' ')

marks = ('Maths Marks are {}\n' 'CSE Marks are {}\n' 'Chemistry Marks are {}\n' 'BEEE Marks are {}')
print(marks.format(a,b,c,d))
total = "The total marks are {}"
print(total.format(a+b+c+d))

Maths Marks are 20
CSE Marks are 30
Chemistry Marks are 30
BEEE Marks are 30
The total marks are 110

#### capitalise

In [ ]:
a = "abhinav"
b = a.capitalize()
print(b)

Abhinav