<a href="https://colab.research.google.com/github/AbhinavGitam/Python/blob/main/Vu21CSEN0100357.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

#### Creating a list

In [2]:
Abhinav= ['orange','apple','mango','banana','watermelon']
print(Abhinav)

['orange', 'apple', 'mango', 'banana', 'watermelon']

#### Length of the List

In [1]:
Abhinav = ['orange','apple','mango','banana','watermelon']
print(len(Abhinav))

5

#### Lists-String,int & boolean data types

In [3]:
abhinav1 = ["apple", "banana", "cherry"]
abhinav2 = [1, 5, 7, 9, 3]
abhinav3 = [True, False, False]
abhinav4 = ["abc", 34, True, 40, "male"]
print(abhinav1)
print(type(abhinav1))
print(abhinav2)
print(type(abhinav2))
print(abhinav3)
print(type(abhinav3))
print(abhinav4)
print(type(abhinav4))

['apple', 'banana', 'cherry']
<class 'list'>
[1, 5, 7, 9, 3]
<class 'list'>
[True, False, False]
<class 'list'>
['abc', 34, True, 40, 'male']
<class 'list'>

list() contributor

In [4]:
abhinav = list(("apple", "banana", "cherry"))
print(abhinav)

['apple', 'banana', 'cherry']

#### Accesing the list items

In [5]:
abhinav = ['orange','apple','mango','banana','watermelon']
print(abhinav[1])

apple

#### Print the last item

In [6]:
abhinav = ['orange','apple','mango','banana','watermelon']
print(abhinav[-1])

watermelon

#### Print the items of the list between the range

In [7]:
abhinav = ['orange','apple','mango','banana','watermelon']
print(abhinav[1:4])

['apple', 'mango', 'banana']

#### From beginning and till the end

In [8]:
abhinav = ['orange','apple','mango','banana','watermelon']
print(abhinav[:4])
abhinav = ['orange','apple','mango','banana','watermelon']
print(abhinav[1:])

['orange', 'apple', 'mango', 'banana']
['apple', 'mango', 'banana', 'watermelon']

#### To check the items in the list

In [9]:
abhinav = ['orange','apple','mango','banana','watermelon']
if 'apple' in abhinav:
  print("Yes 'apple' is in the abhinav list")
else:
  print("No 'apple' is not in the abhinav list")

Yes 'apple' is in the abhinav list

#### Changing of a list item

In [10]:
abhinav = ['orange','apple','mango','banana','watermelon']
abhinav[2] = 'kiwi'
print(abhinav)

['orange', 'apple', 'kiwi', 'banana', 'watermelon']

#### Changing multiple variables

In [11]:
abhinav = ['orange','apple','mango','banana','watermelon']
abhinav[1:3] = ['kiwi','dragon Fruit']
print(abhinav)

['orange', 'kiwi', 'dragon Fruit', 'banana', 'watermelon']

#### Insert Items into the list

In [13]:
abhinav = ['orange','apple','mango','banana','watermelon']
abhinav.insert(2, 'kiwi')
print(abhinav)

['orange', 'apple', 'kiwi', 'mango', 'banana', 'watermelon']

#### Using append function

In [14]:
abhinav = ['orange','apple','mango','banana','watermelon']
abhinav.append('Kiwi')
print(abhinav)

['orange', 'apple', 'mango', 'banana', 'watermelon', 'Kiwi']

#### Using extend function

In [15]:
abhinav = ['orange','apple','mango','banana','watermelon']
veggies = ['tomato','brinjal','potato']
abhinav.extend(veggies)
print(abhinav)

['orange', 'apple', 'mango', 'banana', 'watermelon', 'tomato', 'brinjal', 'potato']

#### Extending This tuple

In [16]:
abhinav = ['orange','apple','mango','banana','watermelon']
thistuple = ("kiwi", "orange")
abhinav.extend(thistuple)
print(abhinav)

['orange', 'apple', 'mango', 'banana', 'watermelon', 'kiwi', 'orange']

#### Removing a list item using remove function

In [17]:
abhinav = ['orange','apple','mango','banana','watermelon']
abhinav.remove('banana')
print(abhinav)

['orange', 'apple', 'mango', 'watermelon']

#### Using remove function to remove a specific list index

In [18]:
abhinav = ['orange','apple','mango','banana','watermelon']
abhinav.pop(1)
print(abhinav)

['orange', 'mango', 'banana', 'watermelon']

#### Using remove function to remove the last list index

In [19]:
abhinav = ['orange','apple','mango','banana','watermelon']
abhinav.pop()
print(abhinav)

['orange', 'apple', 'mango', 'banana']

#### Using the Delete Function

In [20]:
abhinav = ['orange','apple','mango','banana','watermelon']
del abhinav[2]
print(abhinav)

['orange', 'apple', 'banana', 'watermelon']

In [21]:
abhinav = ['orange','apple','mango','banana','watermelon']
del abhinav
print(abhinav)

NameError: ignored

#### Clear Function

In [22]:
abhinav = ['orange','apple','mango','banana','watermelon']
abhinav.clear()
print(abhinav)

[]

#### Write as a list using loop

In [25]:
abhinav = ["apple", "banana", "cherry"]
for x in abhinav:
  print(x)

apple
banana
cherry

#### Print the list item in a list

In [28]:
abhinav = ["apple", "banana", "cherry"]
for i in range(len(abhinav)):
  print(abhinav[1])

banana
banana
banana

#### Sort the lists

In [24]:
abhinav = ['orange','apple','mango','banana','watermelon']
abhinav.sort()
print(abhinav)

['apple', 'banana', 'mango', 'orange', 'watermelon']

#### Loop Using List Comprehension

In [31]:
abhinav = ['orange','apple','mango','banana','watermelon']
[print(v) for v in abhinav]

orange
apple
mango
banana
watermelon

[None, None, None, None, None]

#### List Comprehension

In [34]:
abhinav = ["apple", "banana", "cherry", "kiwi", "mango","watermelon"]
new = []
for x in abhinav:
  if "a" in x:
    new.append(x)
print(new)

['apple', 'banana', 'mango', 'watermelon']

#### print only those list items which are not "apple"

In [40]:
abhinav = ["apple", "banana", "cherry", "kiwi", "mango","watermelon"]
abhinew = [x for x in abhinav if x != "apple"]
print(abhinew)

['banana', 'cherry', 'kiwi', 'mango', 'watermelon']

#### sorting alphabetically and sumerically

In [36]:
abhinav = ["apple", "banana", "cherry", "kiwi", "mango","watermelon"]
abhinav.sort()
print(abhinav)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'watermelon']

In [37]:
abhinav = [10,34,87,24]
abhinav.sort()
print(abhinav)

[10, 24, 34, 87]

#### sort decending

In [42]:
abhinav = ["apple", "banana", "cherry", "kiwi", "mango","watermelon"]
abhinav.sort(reverse=True)
print(abhinav)

['watermelon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [38]:
abhinav = [10,34,87,24]
abhinav.sort(reverse=True)
print(abhinav)

[87, 34, 24, 10]

#### Case sensitive sorting

In [45]:
abhinav = ["apple", "Banana", "Cherry", "Kiwi", "mango","watermelon"]
abhinav.sort()
print(abhinav)

['Banana', 'Cherry', 'Kiwi', 'apple', 'mango', 'watermelon']

#### To ignore the cases and sort accordingly

In [48]:
abhinav = ["apple", "Banana", "Cherry", "Kiwi", "mango","watermelon"]
abhinav.sort(key = str.lower)
print(abhinav)

['apple', 'Banana', 'Cherry', 'Kiwi', 'mango', 'watermelon']

#### Reverse a list

In [49]:
abhinav = ["apple", "Banana", "Cherry", "Kiwi", "mango","watermelon"]
abhinav.reverse()
print(abhinav)

['watermelon', 'mango', 'Kiwi', 'Cherry', 'Banana', 'apple']

#### Copying a list

In [51]:
abhinav = ["apple", "banana", "cherry", "kiwi", "mango","watermelon"]
list1 = abhinav.copy()
print(list1)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'watermelon']

In [53]:
abhinav = ["apple", "banana", "cherry", "kiwi", "mango","watermelon"]
list1 = list(abhinav)
print(list1)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'watermelon']

#### Joining two lists

In [57]:
abhinav = ["apple", "banana", "cherry", "kiwi", "mango","watermelon"]
number = [1,2,3,4,5,6]
abhilist = abhinav + number
print(abhilist)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'watermelon', 1, 2, 3, 4, 5, 6]

In [61]:
abhinav1 = ["apple", "banana", "cherry", "kiwi", "mango","watermelon"]
abhinav2 = [1,2,3,4,5,6]
abhinav1.extend(abhinav2)
print(abhinav1)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'watermelon', 1, 2, 3, 4, 5, 6]

In [64]:
abhi1 = ["apple", "banana", "cherry", "kiwi", "mango","watermelon"]
abhi2 = [1,2,3,4,5,6]
for x in abhi2:
  abhi1.append(x)
print(abhi1)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'watermelon', 1, 2, 3, 4, 5, 6]